/*Generelt Start*/
body{
    height: auto;
    width: auto;
    margin: 0px;
    color:#636674 ;
    font-family: Gotham,sans-serif;
    line-height: 1.2;
    font-weight: 300;
}
header{
    background-color: #FF796D;
    color: white;
    height: 80px ;
}
.header_container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content:space-between;
}
.logo{
    margin: 16.5px;
}
p{
    font-size: 20px;
}
h1{
    font-size: 45px;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    color: white;
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
            
}
h2{
    font-size: 45px;
}
h3{
    font-size: 30px;
}
h4{
    font-size: 25px;
}
.menu_container_phone{
    display: block;
    padding: 30px;
}
.menu_container_web{
    display: none;
}
menu{
    display: flex;
        flex-wrap: nowrap;
            flex-direction: row;
            justify-content: space-between;
            
}
menu > li{
    padding: 17px;
    text-decoration: none;
    padding-left: 60px;
    padding-right: 60px;
    margin: 0 auto;
    font-size: 18px;
}
@media screen and (min-width: 950px){
        .menu_container_phone{
        display: none;
        }
        .menu_container_web{
        display: block;
        }
    }
main{
    width: 100%;
    margin: 0 auto;
}
.main_img{
    height: auto;
    width: auto;
}
.main_text{
    max-width: 750px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 10px;
}
.up_btn {
  position: fixed;
  right: 20px;
  bottom: 80px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #FF5B4C;
  color: white;
  margin: 0 auto;
}
.phone_btn{
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #FF5B4C;
    color: white;
    margin: 0 auto;
}
section{
    max-width: 750px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
}
.preboarding{
    margin-top: 10px;
    margin-bottom: 10px;
}
.onboarding{
    margin-top: 10px;
    margin-bottom: 10px;
}
.dropdown_btn{
    text-align: start;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content:space-between;
}
.dropdown_btn:hover{
    background-color: white;
}
#dropdown_btn_arrow1{
    font-size: 40px;
    margin-top: 20px;
    margin-right: 10px;
}
#dropdown_btn_arrow2{
    font-size: 40px;
    margin-top: 20px;
    margin-right: 10px;
}
form{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}
input{
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 10px;
    margin-bottom: 10px;
}
.checkbox{
    display: flex;
    flex-wrap: wrap;
}
footer{
    background-color: #FF796D;
    color: white;
    height: auto;
    min-height: 150px;
    font-size: 20px;
}
.footer_container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    max-width: 200px;
    margin: 0 auto;
    padding-top: 15px;
}
.footer_information{
    width: 200px;
}
.footer_links{
    width: 200px;
}
#linkedin{ 
    font-size:50px;
    padding: 50px 75px;
    width: 200px;
}
@media screen and (min-width: 450px){
        .footer_container{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-around;
            list-style: none;
            max-width: 400px;
            margin: 0 auto;
            padding-top: 15px;
        }
        h1{
            font-size: 50px;
        }
    }
@media screen and (min-width: 820px){
        .footer_container{
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            justify-content: space-around;
            max-width: 800px;
        }
        h1{
            font-size: 80px;
        }
        section{
            padding: 0px;
        }
        .main_text{
            padding: 0px;
        }
}
li{
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 20px;
}
li > a{
    color: white;
}
ol > li{
    color: #636674;
}
.image{
    height: auto;
    width: auto;
}
img{
    width: 100%;
}
#phone{
    margin:12px;
     font-size:30px
}
#arrow{
    margin: 12px;
    font-size:26px;
}
a{
    text-decoration: none;
}
.knap{
    border: solid #636674;
    width: fit-content;
    text-align: center;
    padding: 20px 40px;
    color: #636674;
    font-size: 20px;
}
.knap:hover{
    background-color: #636674;
    color: white;
    cursor: pointer;
	Transition: 200ms ease-in-out;
}
.btn_link{
    text-decoration: none;
}
.text_link1{
    text-decoration: none;
    color: #636674;
    font-size: 20px;
}
.text_link2{
    text-decoration: underline;
    font-size: 20px;
    color: #FF5B4C;
}
#right_arrow1{
    margin: 12px;
    font-size:26px;
}
#right_arrow2{
    margin: 12px;
    font-size:26px;
}
video{
    max-width: 750px;
    width: 100%;
    height: auto;
}
/*Generelt slut*/
/*burger menu*/
.container {
  display: inline-block;
  cursor: pointer;
}
.bar1, .bar2 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}
.change .bar1 {
  transform: translate(0, 5.5px) rotate(-45deg);
}
.change .bar2 {
  transform: translate(0, -5.5px) rotate(45deg);
}
.menuItem {
  display: block;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  text-decoration: none;
  width: fit-content;
     color: white;
}
.burger {
  width: auto;
  box-shadow: none;
}
.menu {
  position: fixed;
  transform: translatex(100%);
  transition: transform 0.5s;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  list-style: none;
  width: 100%;
  padding: 40px;
    background-color: #FF796D;
}
.showMenu {
  transform: translatex(0);
}
/*Andrea JavaScript start*/
.dropdown_btn {
  color: #636674;
  cursor: pointer;
  width: 100%;
  border: none;
  outline: none;
  transition: 0.4s;
  background-color: white;
  font-family: Gotham,sans-serif;
}

.dropdown_content {
  display: none;
  overflow: hidden;
}
/*Andrea JavaScript slut*/

/*Julie JavaScript start*/
* {box-sizing: border-box}
.mySlides {
    display: none;
    position: relative;
    text-align: center;
}

.slideshow-container {
  max-width: 250px;
  position: relative;
  margin:auto;

}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: none;
  transition: background-color 0.6s ease;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


/*Julie JavaScript slut*/

/*Michelle JavaScript start*/
form {
  width: auto;
  margin: 0 auto;
}

div {
  margin-bottom: 10px;
}

label {
  display: block;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 5px;
}

.ringop{
  border: solid #636674;
  width: fit-content;
  text-align: center;
  padding: 20px 40px;
  color: #636674;
  background-color: white;
  font-family: Gotham,sans-serif;
}
.ringop:hover{
  background-color: #636674;
  color: white;
  cursor: pointer;
Transition: 200ms ease-in-out;
}
/*Michelle JavaScript slut*/